@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-dark:     #171717;
  --color-dark-mid: #131f36;
  --color-white:    #ffffff;
  --color-teal:     #18a1ad;
  --color-purple: #d946ef;
  --color-warning:  #facc15;
  --color-danger:   #f87171;
}

body {
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}